
@use './common' as *;
@mixin headings-font-heading0 {
  @include font($size: 44px, $weight: 900, $lineHeight: 44px);
}
@mixin headings-font-heading1 {
  @include font($size: 36px, $weight: 700, $lineHeight: 40px);
}
@mixin headings-font-heading2 {
  @include font($size: 28px, $weight: 700, $lineHeight: 40px);
}
@mixin headings-font-heading3 {
  @include font($size: 24px, $weight: 700, $lineHeight: 32px);
}
@mixin headings-font-heading4 {
  @include font($size: 24px, $weight: 500, $lineHeight: 32px);
}
@mixin headings-font-heading5 {
  @include font($size: 20px, $weight: 500, $lineHeight: 28px);
}
@mixin headings-font-heading6 {
  @include font($size: 16px, $weight: 500, $lineHeight: 24px);
}
@mixin body-font-lead-semi-bold {
  @include font($size: 18px, $weight: 600, $lineHeight: 28px);
}
@mixin body-font-quote-regular {
  @include font($size: 16px, $weight: 400, $lineHeight: 24px);
}
@mixin body-font-paragraph1-medium {
  @include font($size: 16px, $weight: 500, $lineHeight: 24px);
}
@mixin body-font-paragraph1-regular {
  @include font($size: 16px, $weight: 400, $lineHeight: 24px);
}
@mixin body-font-paragraph2-medium {
  @include font($size: 14px, $weight: 500, $lineHeight: 20px);
}
@mixin body-font-paragraph2-regular {
  @include font($size: 14px, $weight: 400, $lineHeight: 20px);
}
@mixin body-font-paragraph3-regular {
  @include font($size: 16px, $weight: 400, $lineHeight: 20px);
}
@mixin captions-font-caption1-medium {
  @include font($size: 13px, $weight: 500, $lineHeight: 20px);
}
@mixin captions-font-caption1-regular {
  @include font($size: 13px, $weight: 400, $lineHeight: 20px);
}
@mixin captions-font-caption2-regular {
  @include font($size: 12px, $weight: 400, $lineHeight: 16px);
}
@mixin captions-font-caption2-medium {
  @include font($size: 12px, $weight: 500, $lineHeight: 16px);
}
@mixin captions-font-caption3-regular {
  @include font($size: 13px, $weight: 500, $lineHeight: 20px);
}
@mixin captions-font-caption4-regular {
  @include font($size: 12px, $weight: 400, $lineHeight: 12px);
}