.weekTabs {
  display: flex;
  background: transparent;
  border-radius: 0;
  padding: 0;
  gap: 16px;
  margin-bottom: 32px;
  border: none;
  box-shadow: none;
}

.tab {
  flex: none;
  padding: 8px 16px;
  border: 2px solid transparent; 
  border-radius: 20px;
  background: #FFF;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;

  &.active {
    background: black;
    color: #FFF;
    box-shadow: none;
    border: 2px solid black;
    
    &::after {
      content: none;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}