.page{
  padding: 20px 80px;
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 64px);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 32px 24px;
}

.content {
  display: flex;
  gap: 20px;
  align-items: start;
  justify-content: space-between;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar {
  position: fixed;
  top: 116px;
  right: calc(50% - 720px + 100px);
  width: 400px;
  height: calc(100vh - 120px);
  overflow-y: auto;
}