@use '../../../../shared/styles/mixins/typography' as typography;

.input__field {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #E3E3E3;
  margin-bottom: 10px;
  margin-top: 5px;
}

.input__label {
  @include typography.body-font-paragraph2-medium;

  margin-bottom: 4px;
  color: var(--text-secondary);
}

