@use '../../../../shared/styles/mixins/common' as mixins;
@use '../../../../shared/styles/mixins/typography' as typography;


.button {
  @include typography.headings-font-heading6;

  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 8px 20px;

  &:focus:not(:disabled, :active) {
    outline: 4px solid var(--system-focus-50);
  }
}

.button--full-width {
  width: 100%;
}

.button--large {
  padding: 16px 24px;
}

.button--medium {
  padding: 8px 24px;
}

.button--small {
  @include typography.body-font-paragraph2-medium;
}

.button--small {
  .button__content-text {
    margin-right: 4px;
    margin-left: 4px;
  }
}

.button__spinner {
  position: absolute;
  margin: auto;
}

.button__content {
  display: flex;
  align-items: center;

  &-text {
    margin-right: 8px;
    margin-left: 8px;
  }

  &.loading {
    opacity: 0;
    pointer-events: none;
  }
}

